@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color:#FFFFFF ;
  --background: #FFFFFF;
  --foreground: #F8F8F8;
  --textcolor: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color:#394B59 ;
    --background: #394B59;
    --foreground: #203240;
    --textcolor: #FFFFFF;
  }
}

body {
  color: var(--textcolor);
  background: var(--background);
}
